
body{
    background-image: url(../Images/admin_bg.jpg);
    background-size: cover;
}
.viewForm{
    margin-bottom: 250px;
}
#btn {
    margin-top: 5px;
}
img{
    height: 80px;
    width: 80px;
}
.form-control1{
    width: 400px;
    height: 50px;
    margin-left: 600px;
    margin-top: 10px;
    border-radius: 5px;

}
#button{
    margin-top: 15px;
    background-color: goldenrod;
    color: black;
}
h3{
    color: red;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 300px;
}
